/*
.App {
  font-weight: 500;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:  rgb(47, 47, 63);
  color: whitesmoke;
}

:root {
  background-color:  rgb(47, 47, 63);
  color: yellow;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #303541;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: grey;
}

.App-link {
  color: #51c1e0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
  */

  .App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex:0.5;
    font-size: calc(10px + 2vmin);
  }
  .App {
    background: linear-gradient(90deg, rgba(180,174,174,1) 0%, rgba(253,255,255,1) 49%, rgba(186,186,191,1) 100%);
    font-weight: 500;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }

  div {
    background: transparent;
  }

  .logo{
    width: 5vh;
    border-radius: 1vmin;
  }










